@import url("https://use.typekit.net/pvu5flt.css");
@import url("https://use.typekit.net/pvu5flt.css");

$primary: #7e5af0;
$secondary: #16161A;
$tertiary: #BC93F9;
$highlight: #2BB67D;
$link-color: $highlight;
$bg-color: #201E31;

$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 10%);
$highlight-dark: darken($highlight, 10%);
$link-color-hover: darken($link-color, 10%);

$transition: 0.3s;

$white: #ffffff; 

$font-size-base: 1rem;
$font-family-serif: "nimbus-roman", serif;
$font-family-sans-serif: "sofia-pro", sans-serif;
