@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tinos:ital,wght@0,400;0,700;1,400&display=swap');

$primary: #7e5af0;
$secondary: #16161A;
$tertiary: #BC93F9;
$highlight: #58bc6a;
$link-color: $highlight;
$bg-color: #201E31;

$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 10%);
$highlight-dark: darken($highlight, 10%);
$link-color-hover: darken($link-color, 10%);

$transition: 0.3s;

$white: #ffffff; 

$font-size-base: 1rem;
$font-family-serif: "Tinos", serif;
$font-family-sans-serif: "Source Sans Pro", Arial, Sans-Serif;
