@import 'variables';

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

// Heading overrides.
h2, .h2,
h4, .h4,
h5, .h5, 
h6, .h6 {
 font-family: $font-family-serif !important;
}

body {
  color: $white !important;
  background-color: $bg-color !important;
  font-family: $font-family-sans-serif !important;
}

img {
  height: auto;
  width: 100%;
}

main {
  padding: 0px 70px;
  // @media(max-width: 1200px) {
  //   max-width: 1140px;
  // }
  // @media(max-width: 992px) {
  //   max-width: 720px;
  // }
  // @media(max-width: 576px) {
  //   max-width: 540px;
  // }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none; 
}

a {
  text-decoration: none;
  color: $secondary;
  &:hover {
    color: $highlight !important;
  }
  &.none {
    text-decoration: none;
    color:$primary;
    &:hover {
      color: $primary;
      border-bottom: none;
      font-style: normal;
    }
  }
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: $secondary;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  h1 {
    color: $primary;
  }
  a {
    color: $white;
    transition: $transition;
    &:hover {
      font-style: italic;
      text-decoration: none;
      color: $tertiary;
      border-bottom: 2px solid $tertiary;
    }
  }
  ul {
    display: flex;
    gap: 1.9rem;
    li {
      font-weight: bold;
    }
  }
  .nav-link {
    color: $white;
    &:hover {
      color: $tertiary
    }
  }
}

.burger-menu {
  color: $primary;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

.slogan {
  text-align: left;
  h2 {
    font-size: 5rem;
  }
  @media(max-width: 992px) {
    h2 {
      font-size: 3rem;
    }
  }
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  img {
    height: 37.5rem;
    width: 37.5rem;
  }
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  h1 {
    margin-bottom: var(--bottom-margin);
  }
  p {
    line-height: 2;
    padding: 0.3rem 0;
    font-family: $font-family-sans-serif;
  }
}



/* Hero section ends */

/* More about */
.more-about {
  background-color: $bg-color;
  padding: 1rem 6rem;
  h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  p {
    line-height: 2;
    padding: 0.4rem;
  }
}

/* More about ends */

/* Skills section */
.skills {
  background-color: $bg-color;
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: $bg-color;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-link {
  color: $tertiary;
  text-decoration: none;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
  p {
    padding: 0.4rem;
  }
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
  h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
}

.contact-form-container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  background-color: $white;
  // box-shadow: 0 3px 10px var(--secondary-shadow);
  label {
    line-height: 2.7em;
    font-weight: bold;
    color: $primary;
  }
  textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
}

.form-control {
  border: none !important;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  border: none;
  border: 2px outset $primary;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: $primary;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: $highlight;
  border: 2px solid $highlight-dark;
  border-radius: 5px;
  font-size: 1rem;
  color: $secondary;
  font-weight: bold;
  transition: $transition;

  &:hover {
    background-color: $highlight-dark;
    border: 2px solid $highlight;
    cursor: pointer;
  }
}

/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
  i {
    padding-bottom: 1rem;
  }
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: $bg-color;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: $secondary;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: $primary;
    flex-direction: column;
    top: 96px;
    right: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
    
    img {
      height: 37.5rem;
      width: 30rem;
    }
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
    h2 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
